/* You can add global styles to this file, and also import other style files */

@import "styles-variables";
@import "~@ng-select/ng-select/themes/default.theme.css";

// keyframes
@keyframes height {
    from {
        height: 0;
    }
    to {
        height: 18px;
    }
}
@keyframes opacity {
    0%,
    100% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
}
@keyframes loading-fade {
    0%,
    100% {
        opacity: 0;
    }
    25%,
    50% {
        opacity: 1;
    }
}
@keyframes loading-fade2 {
    0%,
    25%,
    100% {
        opacity: 0;
    }
    50%,
    75% {
        opacity: 1;
    }
}
@keyframes loading-fade3 {
    0%,
    50%,
    100% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
}
// fade in
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* button loadin */
// pink-grey
@keyframes color {
    0%,
    100% {
        color: #ff3d7f;
    }
    50% {
        color: #acacac;
    }
}
// grey-pink
@keyframes color2 {
    0%,
    100% {
        color: #acacac;
    }
    50% {
        color: #3fb8af;
    }
}
// white-pink
@keyframes color3 {
    0%,
    100% {
        color: #fff;
    }
    50% {
        color: #ff3d7f;
    }
}
// green-pink
@keyframes colorGreenPink {
    0%,
    100% {
        color: $greenColor;
    }
    50% {
        color: $pinkColor;
    }
}
// green-white
@keyframes colorGreenWhite {
    0%,
    100% {
        color: $greenColor;
    }
    50% {
        color: #fff;
    }
}
/* button loadin */

body {
    color: $titleColor;
    font-family: HelveticaNeueLTPro-Rm;
    margin: 0px;
}
.toast-title {
    font-weight: bold;
    color: white;
}
.toast-message {
    word-wrap: break-word;
    color: white;
}
a,
a:hover,
a:focus {
    text-decoration: none;
}
.input-field {
    position: relative;
    border-radius: 31px;
    font-size: 16px;
    font-family: HelveticaNeueLTPro-Lt;
    height: 54px;
    line-height: 54px;
    color: #979797;
    transition: all 0.8s ease;
    padding-top: 10px;
    padding-left: 36px;
    padding-right: 36px;
}
.input-field:hover {
    border-color: $greenColor !important;
}
.input-field:focus {
    background-color: white !important;
    box-shadow: 0 0 5px rgba(0, 106, 139, 0.32);
}
textarea.input-field {
    line-height: 25px;
}
.input-file {
    input {
        display: none;
    }
    label {
        width: 100%;
        height: 42px;
        line-height: 45px;
        font-size: 10px;
        text-align: center;
        border-radius: 21px;
        border: 1px solid #d4d4d4;
        color: $greenColor;
        cursor: pointer;
    }
}

input:focus {
    outline: none;
}
// No placeholder when clicking on input
input:focus::-webkit-input-placeholder {
    color: transparent;
}
textarea:focus::-webkit-input-placeholder {
    color: transparent;
}
input,
textarea:focus:-moz-placeholder {
    color: transparent;
} /* FF 4-18 */
input:focus::-moz-placeholder {
    color: transparent;
} /* FF 19+ */
input:focus:-ms-input-placeholder {
    color: transparent;
} /* IE 10+ */

// Get started section - buttons css
.start-sequence-btn {
    font-size: $fontSizeBtn;
    font-family: HelveticaNeueLTPro-Rm;
    background-color: white;
    border-radius: 40px;
    height: 51px;
    line-height: 51px;
    width: 100%;
    max-width: 297px;
    padding: 2px 5px;
    transition: all 0.1s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    &:focus {
        outline: none !important;
    }
    &:hover {
        color: white;
    }
}
.sequence-btn {
    color: $pinkColor;
    border: 1px solid $pinkColor;
    box-shadow: 0px 0px 1px 1px rgba(226, 19, 69, 0.49);
    &:hover {
        background-color: #ff3d7f !important;
    }
    &:focus {
        box-shadow: 0px 0px 1px 1px rgba(226, 19, 69, 0.49);
    }
}
// btn purple border
.purple-btn {
  color: $colorPurple;
  border: 1px solid $colorPurple;
  box-shadow: 0 0 2px rgba($colorPurple, 0.18);
  &:hover,
  &:focus {
      color: #fff;
      background-color: $colorPurple !important;
  }
  &.is-animating:focus {
      background-color: transparent !important;
  }
}
.purple-btn-fill {
  color: #fff;
  border: 1px solid $colorPurple;
  box-shadow: 0 0 2px rgba($colorPurple, 0.18);
  background: $colorPurple !important;
  &:hover,
  &:focus {
      color: $colorPurple;
      background-color: #fff !important;
  }
  &.is-animating:focus {
      background-color: transparent !important;
  }
}
// btn pink border
.pink-btn {
    color: $pinkColor;
    border: 1px solid $pinkColor;
    box-shadow: 0 0 2px rgba($pinkColor, 0.18);
    &:hover,
    &:focus {
        color: #fff;
        background-color: $pinkColor !important;
    }
    &.is-animating:focus {
        background-color: transparent !important;
    }
}
// btn pink background
.pink-bg-btn {
    max-width: 100%;
    height: 50px;
    line-height: 42px;
    font-size: 16px;
    border-radius: 28px;
    color: #fff;
    background-color: $pinkColor;
    border: 1px solid $pinkColor;
    transition: all 0.1s ease;
    &:hover {
        color: $pinkColor;
        background-color: #fff;
    }
}
// btn green border
.start-btn {
    max-width: 100%;
    color: $greenColor;
    border: 1px solid $greenColor;
    border-radius: 25px;
    background-color: #fff;
    &:hover {
        color: #fff;
        background-color: $greenColor !important;
    }
}
// btn green background
.btn-green {
    width: 100%;
    max-width: 294px;
    height: 48px;
    line-height: 40px;
    border-radius: 26px;
    background: $greenColor !important;
    border: 1px solid $greenColor;
    color: #fff;
    font-size: 15px;
    transition: all 0.1s ease;
    &:hover {
        color: $greenColor;
        background: #fff !important;
        border-color: $greenColor;
    }
    &:focus {
        box-shadow: 0 0 5px rgba(#000, 0.2);
    }
}
// btn white
.btn-white {
    max-width: 100%;
    height: 50px;
    line-height: 42px;
    font-size: 16px;
    border-radius: 28px;
    color: #3e3e3e;
    background-color: #fff;
    border: 1px solid #cfcfcf;
    transition: all 0.1s ease;
    &:hover {
        color: #3e3e3e;
        opacity: 0.7;
    }
}
// btn white border
.white-border-btn {
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 25px;
    &:hover,
    &:focus {
        color: $greenColor;
        background: #fff;
    }
}
.btn {
    cursor: pointer;
    &:focus,
    &.focus {
        box-shadow: none;
    }
}
.white-btn {
    min-width: 168px;
    border: none;
    border-radius: 30px;
    height: 50px;
    font-size: 16px;
    line-height: 47px;
    &,
    &:hover {
        color: $pinkColor;
        background-color: #fff;
    }
}
.btn-black {
    background: #202020;
    border: none;
    color: #fff;
    font-size: 16px;
    line-height: 54px;
    max-width: 168px;
    &:hover {
        background: lighten(#202020, 5%);
    }
}
.btn-grey {
    border: 1px solid #d4d4d4;
    color: #7e7e7e;
    &:hover {
        border: 1px solid darken(#d4d4d4, 10%);
        color: darken(#7e7e7e, 10%);
    }
}
.btn-grey-bg {
    background: #e4e4e4;
    color: #2a2a2a;
    border: none;
    &:hover {
        background: darken(#e4e4e4, 10%);
        color: #2a2a2a;
    }
}
.btn-grey-pink {
    height: 50px;
    line-height: 53px;
    font-size: 16px;
    border: none;
    background-color: #f3f3f3;
    color: $pinkColor;
    &:hover {
        background: darken(#f3f3f3, 5%);
        color: $pinkColor;
    }
}
.btn-grey-green {
    height: 50px;
    line-height: 53px;
    font-size: 16px;
    border: none;
    background-color: #f3f3f3;
    color: $greenColor;
    &:hover {
        background: darken(#f3f3f3, 5%);
        color: $greenColor;
    }
}
.btn-no-shadow {
    box-shadow: none !important;
}
.btn-dashed-border {
    border-style: dashed;
}
// btn break text
.btn-break {
    min-height: 42px;
    height: auto;
    padding: 12px 36px 8px;
    font-size: 15px;
    white-space: break-spaces;
    text-overflow: initial;
    line-height: 1.4;
    border-radius: 21px;
}

// Form errors
.error-required {
    font-size: 12px;
    color: $pinkColor;
    margin-top: 2%;
    animation: height 0.5s ease;
    font-family: HelveticaNeueLTPro-Lt;
}
.flex-vertical-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.no-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.btn-filled {
    font-family: HelveticaNeueLTPro-Bd;
    background: $pinkColor;
    border: 2px solid #fff;
    border-radius: 26px;
    box-shadow: 0 0 5px rgba(226, 19, 69, 0.5);
    font-size: 16px;
    color: #fff;
    text-align: center;
    height: 50px;
    line-height: 50px;
    padding: 2px;
    min-width: 210px;
    max-width: 100%;
    outline: none;
    transition: all 0.1s ease;
    cursor: pointer;
    &[disabled] {
        border-width: 1px;
    }
    &[disabled],
    &:hover {
        color: #fff;
    }
    &:focus {
        box-shadow: 0 0 5px rgba(226, 19, 69, 0.5);
        color: #fff;
    }
}
.table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    vertical-align: middle;
}

// blur
.opened-popup {
    overflow: hidden;
    :not(.container-unblurred) {
        filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='svgMask'><feGaussianBlur stdDeviation='1' /></filter></svg>#svgMask");
        filter: blur(1px);
    }
}
.unblurred,
.unblurred *,
.swal2-container,
.swal2-container * {
    filter: blur(0px) !important;
}
.swal2-container {
    z-index: 99999999 !important;
}

.relative {
    position: relative;
}

.line-border {
    width: 64px;
    height: 2px;
    border: 2px solid $pinkColor;
    margin: 8px 0 32px;
}
.green-color {
    color: $greenColor;
    &:hover {
        color: $greenColor;
    }
}
.pink-color {
    color: $pinkColor;
    &:hover {
        color: $pinkColor;
    }
}
.beige-color {
    color: #c7c794;
    &:hover {
        color: #c7c794;
    }
}
.white-color {
    color: #fff;
}

// slick slider
.slick-slider {
    text-align: center;
    .slick-slide {
        text-align: left;
        &:focus {
            outline: none;
        }
    }
    .slick-dots {
        position: relative;
        display: inline-block;
        bottom: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        line-height: 1;
        height: 21px;
        li {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            padding: 0 5px;
            width: 25px;
            height: 15px;
            transition: all 0.5s ease;
            button {
                width: 15px;
                height: 15px;
                background: #d9d9d9;
                border: none;
                border-radius: 50%;
                color: transparent;
                transition: width 0.5s ease, height 0.5s ease,
                    background-color 0.5s ease;
                position: absolute;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
            &:focus,
            button:focus {
                outline: none;
            }
            &:last-child:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 5px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: $pinkColor;
                transition: left 0.5s ease;
                pointer-events: none;
            }
            &.slick-active {
                width: 30px;
                height: 20px;
                button {
                    width: 20px;
                    height: 20px;
                    background-color: $pinkColor;
                }
            }
        }
        $firstLeft: 5;
        @for $i from 1 through 10 {
            $left: $firstLeft + (($i * 25) - 25);
            li:nth-child(#{$i}).slick-active {
                &:after {
                    left: #{$left}px;
                }
                ~ li:last-child:after {
                    left: #{$left}px;
                }
            }
        }
    }
}

// popup
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 99999;
    overflow: auto;
    .table-cell {
        padding: 20px;
    }
    .popup-body {
        max-width: 922px;
        margin: auto;
        padding: 60px 30px 50px;
        border-radius: 10px;
        text-align: center;
        background-color: #fff;
    }
}
.popup-animation {
    animation: fadein 0.5s;
}
.popup-fade {
    display: block !important;
}

[disabled],
[disabled]:hover {
    cursor: not-allowed !important;
    border-color: #bbbbbb !important;
    color: #c1c1c1 !important;
    box-shadow: none !important;
    background: #fff !important;
}

// fix safari before after issue
.row:before,
.row:after {
    width: 0;
}

// button loading svg
.loading-button {
    position: relative;
    overflow: visible;
    &:focus {
        outline: none !important;
    }
    svg {
        opacity: 0;
        position: absolute;
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        top: -4px;
        left: -4px;
    }
    rect {
        width: calc(100% - 6px);
        height: calc(100% - 6px);
    }
    svg g {
        fill: none;
        animation: all 3s linear;
    }
    .first-svg g {
        stroke: #acacac;
    }
    .second-svg {
        z-index: 1;
        g {
            stroke: #ff3d7f;
        }
    }
    &.is-animating {
        cursor: not-allowed;
        pointer-events: none;
        // box-shadow: none !important;
        svg {
            opacity: 1;
        }
    }
    .fadein-points {
        span {
            animation-duration: 3s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            margin-left: 3px;
            &:first-child {
                animation-name: loading-fade;
            }
            &:nth-child(2) {
                animation-name: loading-fade2;
            }
            &:last-child {
                animation-name: loading-fade3;
            }
        }
    }
}

// new design
h1 {
    font-size: 24px;
    font-family: HelveticaNeueLTPro-Bd;
    line-height: 1.19;
}
h2 {
    font-size: 22px;
    line-height: 1.4;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
    font-family: HelveticaNeueLTPro-Md;
}
h5 {
    font-size: 16px;
    font-family: HelveticaNeueLTPro-Rm;
    line-height: 1.4;
}
h6 {
    font-size: 16px;
    font-family: HelveticaNeueLTPro-Md;
    line-height: 1.4;
}
p,
.text-description {
    font-size: 16px;
    line-height: 1.6;
    font-family: HelveticaNeueLTPro-Lt;
    letter-spacing: 0.03em;
}
.linear-bg-light {
    background: linear-gradient(
        to bottom,
        rgba($pinkColor, 0.006),
        rgba(#1dae9f, 0.017)
    );
}
.no-shrink {
    flex-shrink: 0;
}
.no-wrap {
    white-space: nowrap;
}
.td-max-w {
    width: 1px;
}
.form-control {
    &:focus {
        box-shadow: none;
    }
}
.page-container {
    width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
.page-background-container {
 width: 100%;
 padding: 35px 60px 25px 30px;
 background: linear-gradient(93.3deg,
 rgba(234, 230, 251, 0.7) 0%,
 rgba(234, 230, 251, 0.6) 10%,
 rgba(234, 230, 251, 0.55) 20%,
 rgba(234, 230, 251, 0.5) 30%,
 rgba(234, 230, 251, 0.45) 40%,
 rgba(234, 230, 251, 0.4) 50%,
 rgba(234, 230, 251, 0.35) 60%,
 rgba(234, 230, 251, 0.3) 70%,
 rgba(234, 230, 251, 0.25) 80%,
 rgba(234, 230, 251, 0.2) 90%,
 rgba(234, 230, 251, 0.1) 100%);
 border-radius: 40px;
 margin: 40px auto;
}
.menu-bg-white {
    nav {
        background: #fff !important;
    }
}
.bg-icons {
    position: absolute;
    z-index: 0;
}
.bg-line-coloured {
    bottom: 0;
}
.footer-lines {
    margin-bottom: 30px;
    padding-bottom: 120px;
    z-index: -1;
}
.clear-spacing {
    letter-spacing: 0;
}
.l-height-1 {
    line-height: 1;
}
.l-height-s {
    line-height: 1.2;
}
.c-pointer {
    cursor: pointer;
}
.c-default {
    cursor: default;
}
// blog search input
.blog-search {
    input {
        width: 76px;
        height: 44px;
        border: 1px solid #c8c8c8;
        border-radius: 22px;
        background: #fff;
        transition: width 0.3s ease;
        color: transparent;
        &:focus {
            width: 200px;
            outline: none;
            padding: 7px 56px 0 30px;
            color: #707070;
            ~ label {
                left: 30px;
                opacity: 0.1;
            }
        }
    }
    label {
        position: absolute;
        top: 50%;
        left: -80px;
        transform: translateY(-50%);
        margin-top: 4px;
        transition: all 0.3s ease;
    }
    .icon {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        background-size: cover;
        background-image: url("/assets/img/search.svg");
        pointer-events: none;
    }
}
.custom-scrollbar {
    overflow: auto;
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid rgba(#f1f1f1, 0.4);
        background: rgba(#e1e1e1, 0.4);
    }
    &::-webkit-scrollbar-track {
        border-radius: 5px;
    }
}
.qrcode {
    img {
        margin: auto;
    }
}
.link-underline {
    text-decoration: underline !important;
    &:hover {
        text-decoration: underline !important;
    }
}
.modal-backdrop {
    z-index: 999999;
    &.show {
        opacity: 0.39;
    }
}
.body-bg-light {
    position: relative;
    &:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: #f4f8f8;
    }
    .box-white {
        max-width: 1084px;
        border-radius: 13px;
        background: #fff;
        box-shadow: 4px 12px 42px rgba(#000, 0.06);
    }
}
.provider-custom-radio-container {
    margin-bottom: -40px;
    .provider-custom-radio {
        position: relative;
        padding-bottom: 10px;
        input {
            display: none;
        }
        label {
            width: 100%;
            height: 100%;
            border-radius: 19px;
            background: #fff;
            border: 1px solid rgba(39, 42, 125, .2);
            outline: 3px solid #fff;
            cursor: pointer;
        }
        input:checked ~ label {
            border: solid 3px #6C24A5;
            outline: 0px;
            box-shadow: 0 5px 6px rgba(#000, 0.07);
            .checkmark {
              display: none;
            }
            .checkedmark {
              display: block;
            }
        }
    }
}

// fix blur error in menu
app-menu {
    filter: none !important;
}

// icons
.svg-icon {
    display: inline-block;
    background-size: 100% 100%;
    background-position: center;
    vertical-align: middle;
}
.shopping-cart-icon {
    width: 30px;
    height: 27px;
    background-image: url("/assets/img/home/shopping-cart.svg");
}
.upload-dna-icon {
    width: 26px;
    height: 30px;
    background-image: url("/assets/img/home/upload-icon.svg");
}

// new form input with moving label
.moving-label-input {
    label {
        position: absolute;
        margin: 0;
        left: 33px;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 4px;
        color: rgba(#1d1d1d, 0.64);
        transition: all 0.4s ease;
    }
    input {
        width: 100%;
        height: 50px;
        padding: 15px 33px 0;
        font-size: 18px;
        border-radius: 31px;
        color: #484848;
        border: 1px solid #ccc;
        background: transparent;
        z-index: 2;
        &:focus {
            outline: none;
        }
        &.ng-invalid.ng-touched {
            border-color: $pinkColor;
            &:focus ~ label,
            ~ label {
                color: $pinkColor;
            }
        }

        /* autofill */
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            -webkit-background-clip: text;
            & ~ label {
                margin-top: -12px;
                font-size: 11px;
                color: #a4a4a4;
            }
        }
        /* autofill mozilla */
        &:-moz-autofill {
            & ~ label {
                margin-top: -12px;
                font-size: 11px;
                color: #a4a4a4;
            }
        }
    }
    label.label-top,
    input:focus ~ label {
        margin-top: -12px;
        font-size: 11px;
        color: #a4a4a4;
    }
    &.input-password {
        input {
            padding-right: 56px;
        }
    }
    .input-icon {
        position: absolute;
        right: 33px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        cursor: pointer;
    }
    .phone-number-input {
      border-radius: 0px;
      padding-top: 0px;
      height: 44px;
    }
    .intl-tel-input {
      width: 100%;
    }
    .search-container {
      input {
        border-radius: 0px;
        padding: 0px;
        padding-left: 15px;
        height: 35px;
      }
    }
}

// bootstrap select
.bootstrap-select {
    .country-flag {
        width: 40px;
    }
    .dropdown-toggle .filter-option {
        height: auto !important;
    }
}
@media (max-width: 767px) {
    .bootstrap-select {
        .dropdown-menu {
            min-width: 200px !important;
            width: 100% !important;
        }
    }
}

// cover fit image
.img-cover-fit {
    object-fit: cover;
}

// loading image animation
.item-loading-animation {
    animation-name: opacity;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    &:nth-child(2),
    &:nth-child(5) {
        animation-delay: 0.4s;
    }
    &:nth-child(3),
    &:nth-child(6) {
        animation-delay: 0.6s;
    }
}

// fix outline on focus
* {
    &:focus {
        outline: none !important;
    }
}

// fonts
.font-14 {
    font-size: 14px;
}
.font-15 {
    font-size: 15px;
}
.font-17 {
    font-size: 17px;
}
.font-18 {
    font-size: 18px;
}
.font-19 {
    font-size: 19px;
}
.font-20 {
    font-size: 16px;
}
.font-22 {
    font-size: 17px;
}
.font-25 {
    font-size: 18px;
}
.font-26 {
    font-size: 19px;
}
.font-28 {
    font-size: 20px;
}
.font-30 {
    font-size: 22px;
}
.font-32 {
    font-size: 23px;
}
.font-35 {
    font-size: 24px;
}

// alert top
.alert-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;
    padding: 10px 0;
    color: #fff;
    background-color: $pinkColor;
    z-index: 999999;
}

/* plyr */
:root {
    --plyr-color-main: #ff3d7f !important;
}
.plyr--video {
    border-radius: 5px;
    .plyr__controls {
        opacity: 0;
    }
    &:hover {
        .plyr__controls {
            opacity: 1;
        }
    }
}
/* end plyr */

@media (min-width: 768px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 28px;
    }
    h4 {
        font-size: 26px;
    }
    h5 {
        font-size: 24px;
    }
    h6 {
        font-size: 20px;
    }
    .page-container {
        width: 628px;
    }
    .page-background-container {
      width: 718px;
    }
    .footer-lines {
        padding-bottom: 164px;
    }
    .font-20 {
        font-size: 20px;
    }
    .font-22 {
        font-size: 22px;
    }
    .font-24 {
        font-size: 24px;
    }
    .font-25 {
        font-size: 25px;
    }
    .font-26 {
        font-size: 26px;
    }
    .font-30 {
        font-size: 28px;
    }
    .font-32 {
        font-size: 30px;
    }
    .font-35 {
        font-size: 30px;
    }
}
@media (min-width: 992px) {
    h1 {
        font-size: 45px;
    }
    h1 {
        font-size: 42px;
    }
    h3 {
        font-size: 38px;
    }
    h4 {
        font-size: 34px;
    }
    h5 {
        font-size: 30px;
    }
    .page-container {
        width: 802px;
    }
    .page-background-container {
      width: 892px;
    }
    .footer-lines {
        padding-bottom: 245px;
    }
    .moving-label-input {
        input {
            height: 62px;
            padding: 15px 33px 0;
        }
    }
    .popup {
        .popup-body {
            padding: 140px 130px 100px;
        }
    }
}
@media (min-width: 1200px) {
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 54px;
    }
    h3 {
        font-size: 50px;
    }
    h4 {
        font-size: 40px;
    }
    h5 {
        font-size: 35px;
    }
    .page-container {
        width: 1010px;
    }
    .page-background-container {
      width: 1100px;
    }
    .font-28 {
        font-size: 28px;
    }
    .font-30 {
        font-size: 30px;
    }
    .font-32 {
        font-size: 32px;
    }
    .font-35 {
        font-size: 35px;
    }
}
@media (min-width: 1300px) {
    .page-container {
        width: 1110px;
    }
    .page-background-container {
      width: 1200px;
  }
}
@media (min-width: 1600px) {
    .page-container {
        width: 1520px;
    }
    .page-background-container {
      width: 1500px;
    }
}

.sm-design {
  display: none !important;
}
@media (max-width: 767px) {
    .sm-design {
        display: block !important;
    }
    .lg-design {
        display: none !important;
    }
}